html{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*,*::before,*:after{
    box-sizing: inherit;
}

#container{
    border: solid;
    width:400px;
    height: 200px;
 
    margin: auto;

}

#input{
    border: solid;
    width: 100%;
    height:58%;
    
}